<h1><%= t('layouts.header.sign_in')%></h1>

<%= form_with(url: session_path, local: true) do |f| %>	

			<%= label_tag t('common.email') %>
			<%= email_field_tag :email, nil, autofocus: true %>

			<%= label_tag t('common.password') %>
			<%= password_field_tag :password, nil %>

			<%= submit_tag t('common.sign_in_acc') %>

			<%= link_to t('.forgot_pass'), new_password_reset_path, :id => "password_reset_link" %>
<% end %>