<h1><%= t('registrations.index.registrations') %> <%= link_to @event.name, @event %></h1>


<%= form_with(model: [@event, @registration], local: true) do |f| %>
<%= render 'shared/errors', object: @registration %>

	<%= f.label t('.how_heard') %>
	<%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS, prompt:  t('.pick') %>

	<%= f.submit t('.new') %>
	<%= link_to t('common.cancel'), events_path, class: 'button' %>

<% end %>