<h1><%= @events.size %> Events</h1>

Listing was generated at <%= @time %>
<ul>
	<% @events.each do |event| %>
		<li>
		<strong><%= event.name %></strong>
		<%= event.location %>:
		<%= number_to_currency(event.price) %>
		</li>
	<% end %>
</ul>