
  <% @events.each do |event| %>
    <section class="event">
				<div class="image">
					<%= main_image(event) %>
				</div>
        <div class="summary">
          <h2><%= link_to(event.name, event) %></h2>
					<h3><%= I18n.l(event.starts_at, format: :default)%> <%= t('.v')%> <%= event.location %></h3>
          <%# <h3><%= t('.spots_left', count: event.spots_left) %></h3>
					<span class="price">
						<%= format_price(event) %>
					</span>
					<p>
						<%= truncate(event.description, length: 40, separator: ' ') %>
					</p>
        </div>
    </section>
  <% end %>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Add New Event", new_event_path, class: "button" %>
  </section>
<% end %>
