<ul class="events">
  <% @events.each do |event| %>
    <li>
      <article class="event">
        <header>
          <%= image_for(event) %>
          <h2><%= link_to(event.name, event) %></h2>
          <h3><%= t('.spots_left', count: event.spots_left) %></h3>
        </header>
        <p>
          <%= truncate(event.description, length: 150, separator: ' ') %>
        </p>
        <table>
          <tr>
            <th><%= t('.when') %></th>
            <td><%= I18n.l(event.starts_at, format: :default)%></td>
          </tr>
          <tr>
            <th><%= t('.where') %></th>
            <td><%= event.location %></td>
          </tr>
          <tr>
            <th><%= t('.price') %></th>
            <td><%= format_price(event) %></td>
          </tr>
        </table>
      </article>
    </li>
  <% end %>
</ul>
