<% content_for(:title, @event.name) %>
<article id="event" class="event">
  <header>
    <%= image_for(@event) %>
    <h1><%= @event.name %></h1>
    <h2><%= I18n.l(@event.starts_at, format: :default)%></h2>
  </header>
  
  <p>
    <%= @event.description %>
  </p>

	<p>
		<%= pluralize(@likers.size,"like") %>
	</p>
	<% if current_user %>
		<% if @current_like %>
				<%= button_to t('common.unlike'), event_like_path(@event, @current_like), method: :delete %>
		<% else %>
				<%= button_to t('common.like'), event_likes_path(@event) %>
		<% end %>
	<% end %>
  
  <h3><%= t('.price') %></h3>
  <p>
    <%= format_price(@event) %>
  </p>
  
  <h3><%= t('.location') %></h3>
  <p>
    <%= @event.location %>
  </p>
  
  <h3><%= t('.capacity') %></h3>
  <p>
    <%= t('.spots', count: @event.capacity) %>
  </p>
  <%= link_to t('.registered'), event_registrations_path(@event) %>
  <footer>
		<%= register_link(@event) %>
		<p>
			(<%= t('events.index.spots_left',count: @event.spots_left) %>)
		</p>
    <nav>
			<% if current_user_admin? %>
				<%= link_to t('common.edit'), edit_event_path(@event), class: 'button' %>
				<%= link_to t('common.delete'), @event, 
										class: 'button',
										method: :delete, data: { confirm: t('common.confirm') } %>
			<% end %>
    </nav>
  </footer>
</article>


<% content_for(:side) do %>
		<% if @likers.any? %>
			<h3><%= t('.likers') %></h3>
			<ul>
				<% @likers.each do |user| %>
					<li>
						<%= link_to user.name, user %>
					</li>
				<% end %>
			</ul>
		<% end %>
		<% if @categories.any? %>
	<h3><%= t('.cats') %></h3>
		<ul>
			<% @categories.each do |category| %>
				<li>
					<%= category.name %>
				</li>
			<% end %>
		</ul>	
	<% end %>
<% end %>
