<% content_for(:title, @event.name) %>
<section class="event-details">
  <div class="image">
    <%= main_image(@event) %>
		<% if current_user %>
      <div class="likes">
        <% if @current_like %>
						<%= button_to t('common.unlike'), event_like_path(@event, @current_like), method: :delete %>
				<% else %>
						<%= button_to t('common.like'), event_likes_path(@event) %>
				<% end %>
        <div class="count">
          <%= @likers.size %>
        </div>
      </div>
    <% end %>
  </div>
	<div class="details">
    <h1><%= @event.name %></h1>
		<h2>
			<%= t('.spots', count: @event.capacity) %> &bull; <%= format_price(@event) %>
    </h2>
    
		<h3>
				<%= I18n.l(@event.starts_at, format: :default) %> <%= t('events.index.v')%> <%= @event.location %>
		</h3>

		<p>
			<%= @event.description %>
		</p>

		<div class="register">
			<%= register_link(@event) %>
      <p>
        <%= link_to t('.registered'), event_registrations_path(@event) %>
      </p>
    </div>
	</div>
	<aside>
		<% if @likers.any? %>
			<h3><%= t('.likers') %></h3>
			<ul>
				<% @likers.each do |user| %>
					<li>
						<%= link_to user.name, user %>
					</li>
				<% end %>
			</ul>
		<% end %>
		<% if @categories.any? %>
	<h3><%= t('.cats') %></h3>
		<ul>
			<% @categories.each do |category| %>
				<li>
					<%= category.name %>
				</li>
			<% end %>
		</ul>	
	<% end %>
	</aside>
</section>

<% if current_user_admin? %>
	<section class="admin">
					<%= link_to t('common.edit'), edit_event_path(@event), class: 'button' %>
					<%= link_to t('common.delete'), @event, 
											class: 'button',
											method: :delete, data: { confirm: t('common.confirm') } %>
	</section>
<% end %>