
		<article>
			<header><h2><%= @event.name %></h2></header>
		</article>
		<p><%= truncate(@event.description,length: 35, separator: ' ')%></p>
		<table>
			<tr>
				<th>When:</th>
				<td><%= @event.starts_at.to_s(:default) %></td>
			</tr>
			<tr>
				<th>Where:</th>
				<td><%= @event.location %></td>
			</tr>
			<tr>
				<th>Price:</th>
					<td><%= format_price(@event) %></td>
			</tr>
		</table>

		<%= link_to 'All Events', events_path %> |
		<%= link_to 'Edit Event', edit_event_path(@event) %> |
		<%= link_to 'Delete', event_path(@event), method: :delete, data: {confirm: 'Are you sure?'} %>
