<header>
	<nav>
	<%= link_to root_path do %>
<svg width="243" height="62" viewBox="0 0 68 23" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.8 17.52C6.232 17.52 4.856 17.184 3.672 16.512C2.504 15.824 1.6 14.824 0.96 13.512C0.32 12.2 0 10.616 0 8.76C0 6.904 0.32 5.32 0.96 4.008C1.6 2.696 2.504 1.704 3.672 1.032C4.856 0.344 6.232 0 7.8 0C9.368 0 10.736 0.344 11.904 1.032C13.088 1.704 14 2.696 14.64 4.008C15.28 5.32 15.6 6.904 15.6 8.76C15.6 10.616 15.28 12.2 14.64 13.512C14 14.824 13.088 15.824 11.904 16.512C10.736 17.184 9.368 17.52 7.8 17.52ZM7.8 17.04C8.424 17.04 9 16.776 9.528 16.248C10.072 15.72 10.52 14.84 10.872 13.608C11.224 12.376 11.4 10.76 11.4 8.76C11.4 6.76 11.224 5.144 10.872 3.912C10.52 2.68 10.072 1.8 9.528 1.272C9 0.743999 8.424 0.48 7.8 0.48C7.176 0.48 6.592 0.743999 6.048 1.272C5.52 1.8 5.08 2.68 4.728 3.912C4.376 5.144 4.2 6.76 4.2 8.76C4.2 10.76 4.376 12.376 4.728 13.608C5.08 14.84 5.52 15.72 6.048 16.248C6.592 16.776 7.176 17.04 7.8 17.04Z" fill="#282829"/>
<path d="M24.2456 21.6L25.6856 21.24V16.56C25.4296 16.768 25.1816 16.928 24.9416 17.04C24.3656 17.36 23.6936 17.52 22.9256 17.52C21.3096 17.52 20.0216 16.976 19.0616 15.888C18.1176 14.784 17.6456 13.208 17.6456 11.16C17.6456 9.8 17.8616 8.648 18.2936 7.704C18.7256 6.744 19.3096 6.024 20.0456 5.544C20.7816 5.048 21.6216 4.8 22.5656 4.8C23.6376 4.8 24.5336 5.16 25.2536 5.88C25.5576 6.184 25.8216 6.544 26.0456 6.96C26.1576 6.608 26.3496 6.288 26.6216 6C27.2296 5.36 28.1176 5.04 29.2856 5.04H29.5256V21.24L30.9656 21.6V21.96H24.2456V21.6ZM23.8856 16.8C24.2856 16.8 24.7016 16.64 25.1336 16.32C25.3256 16.176 25.5096 16.016 25.6856 15.84V7.56C25.4936 7.16 25.3096 6.84 25.1336 6.6C24.6536 5.96 24.1176 5.64 23.5256 5.64C23.0136 5.64 22.5816 6.048 22.2296 6.864C21.8936 7.664 21.7256 9.096 21.7256 11.16C21.7256 13.32 21.9096 14.8 22.2776 15.6C22.6616 16.4 23.1976 16.8 23.8856 16.8Z" fill="#282829"/>
<path d="M32.4112 16.8L33.8512 16.44V5.88L32.4112 5.52V5.16H35.5312C36.9713 5.16 37.6912 5.88 37.6912 7.32V16.44L39.1312 16.8V17.16H32.4112V16.8Z" fill="#282829"/>
<path d="M46.2075 22.32C44.7835 22.32 43.6235 22.192 42.7275 21.936C41.8315 21.68 41.1835 21.352 40.7835 20.952C40.3995 20.552 40.2075 20.128 40.2075 19.68C40.2075 19.136 40.3675 18.696 40.6875 18.36C41.0235 18.04 41.4635 17.88 42.0075 17.88C42.1355 17.88 42.3675 17.904 42.7035 17.952L42.9675 18V21.36C43.1595 21.424 43.4635 21.504 43.8795 21.6C44.6155 21.76 45.3115 21.84 45.9675 21.84C47.9195 21.84 49.3435 21.56 50.2395 21C51.1515 20.456 51.6075 19.776 51.6075 18.96C51.6075 17.92 50.6475 17.4 48.7275 17.4H44.1675C42.9675 17.4 42.0475 17.152 41.4075 16.656C40.7675 16.16 40.4475 15.528 40.4475 14.76C40.4475 13.992 40.8235 13.312 41.5755 12.72C41.8795 12.496 42.2635 12.296 42.7275 12.12C42.1355 11.752 41.7035 11.32 41.4315 10.824C41.1755 10.312 41.0475 9.704 41.0475 9C41.0475 7.816 41.4955 6.864 42.3915 6.144C43.2875 5.408 44.5995 5.04 46.3275 5.04C47.0795 5.04 47.7675 5.12 48.3915 5.28C49.0315 5.424 49.5435 5.624 49.9275 5.88C50.0555 5.608 50.2235 5.368 50.4315 5.16C50.9115 4.68 51.5035 4.44 52.2075 4.44C52.7515 4.44 53.2075 4.632 53.5755 5.016C53.9435 5.384 54.1275 5.872 54.1275 6.48C54.1275 6.944 53.9995 7.32 53.7435 7.608C53.5035 7.896 53.1915 8.04 52.8075 8.04C52.6315 8.04 52.4315 8.024 52.2075 7.992L51.9675 7.92V5.04C51.5515 5.04 51.1595 5.24 50.7915 5.64C50.6475 5.784 50.5195 5.984 50.4075 6.24C51.2075 6.944 51.6075 7.864 51.6075 9C51.6075 10.184 51.1595 11.144 50.2635 11.88C49.3675 12.6 48.0555 12.96 46.3275 12.96C45.1755 12.96 44.1355 12.76 43.2075 12.36L42.7275 12.6C42.5675 12.696 42.4475 12.792 42.3675 12.888C42.2875 12.968 42.2475 13.072 42.2475 13.2C42.2475 13.472 42.3835 13.68 42.6555 13.824C42.9435 13.968 43.4475 14.04 44.1675 14.04H48.7275C49.9275 14.04 50.8635 14.392 51.5355 15.096C52.2235 15.784 52.5675 16.752 52.5675 18C52.5675 19.28 52.0315 20.32 50.9595 21.12C49.9035 21.92 48.3195 22.32 46.2075 22.32ZM46.3275 12.48C46.8555 12.48 47.2635 12.224 47.5515 11.712C47.8555 11.2 48.0075 10.296 48.0075 9C48.0075 7.704 47.8555 6.8 47.5515 6.288C47.2635 5.776 46.8555 5.52 46.3275 5.52C45.7995 5.52 45.3835 5.776 45.0795 6.288C44.7915 6.8 44.6475 7.704 44.6475 9C44.6475 10.296 44.7915 11.2 45.0795 11.712C45.3835 12.224 45.7995 12.48 46.3275 12.48Z" fill="#282829"/>
<path d="M59.0522 17.52C57.6282 17.52 56.5322 17.216 55.7642 16.608C54.9962 16 54.6122 15.224 54.6122 14.28C54.6122 13.656 54.7482 13.04 55.0202 12.432C55.1322 12.144 55.2762 11.88 55.4522 11.64C56.1082 11.48 56.8202 11.336 57.5882 11.208C59.3162 10.92 60.8442 10.744 62.1722 10.68V9.96C62.1722 8.184 61.9562 6.96 61.5242 6.288C61.0922 5.616 60.4282 5.28 59.5322 5.28C59.1962 5.28 58.9082 5.32 58.6682 5.4L58.3322 5.52V9.12L58.0202 9.192C57.7642 9.224 57.5482 9.24 57.3722 9.24C56.8282 9.24 56.3882 9.08 56.0522 8.76C55.7322 8.424 55.5722 7.984 55.5722 7.44C55.5722 6.704 55.9402 6.08 56.6762 5.568C57.4282 5.056 58.5402 4.8 60.0122 4.8C61.2602 4.8 62.3322 5.024 63.2282 5.472C64.1402 5.904 64.8282 6.512 65.2922 7.296C65.7722 8.064 66.0122 8.952 66.0122 9.96V16.44L67.4522 16.8V17.16H65.2922C64.3322 17.16 63.5882 16.864 63.0602 16.272C62.8362 16.032 62.6602 15.728 62.5322 15.36C62.3082 15.76 62.0442 16.12 61.7402 16.44C61.0202 17.16 60.1242 17.52 59.0522 17.52ZM60.0122 16.68C60.6042 16.68 61.1402 16.36 61.6202 15.72C61.7962 15.48 61.9802 15.16 62.1722 14.76V11.28C61.4362 11.28 60.7322 11.32 60.0602 11.4C59.5642 11.464 59.2282 11.504 59.0522 11.52C58.9722 11.696 58.8922 11.936 58.8122 12.24C58.6522 12.848 58.5722 13.448 58.5722 14.04C58.5722 14.936 58.7082 15.6 58.9802 16.032C59.2522 16.464 59.5962 16.68 60.0122 16.68Z" fill="#282829"/>
<path d="M45.92 3.75999L46.88 0.159988H50L48.38 1.95999L46.76 3.75999H45.92Z" fill="#B92B27"/>
</svg>

	<% end %>	
	<ul class="left">
      <li>
        <%= link_to  t('layouts.header.upcoming'), events_path %>
      </li>
      <li>
        <%= link_to t('layouts.header.past'), filtered_events_path(:past)%>
      </li>
      <li>
        <%= link_to t('layouts.header.free'), filtered_events_path(:free)%>
      </li>
      <li>
        <%= link_to t('layouts.header.recent'), filtered_events_path(:recent)%>
      </li>
	</ul>
  <ul class="right">
					<% if current_user %>
						<li><%= link_to "Рус", {locale: :ru}, class: "#{ 'active' if I18n.locale == :ru }"  %></li>
						<li><%= link_to "Eng", {locale: :en}, class: "#{ 'active' if I18n.locale == :en }" %></li>
						<li><%= link_to current_user.name, current_user %></li>
						<li><%= link_to t('layouts.header.sign_out'), session_path, method: :delete, class: "button" %></li>
					<% else %>
						<li><%= link_to "Рус", {locale: :ru}, class: "#{ 'active' if I18n.locale == :ru }"  %></li>
						<li><%= link_to "Eng", {locale: :en}, class: "#{ 'active' if I18n.locale == :en }" %></li>
						<li><%= link_to t('layouts.header.sign_up'), signup_path, class: "button" %></li>
						<li><%= link_to t('layouts.header.sign_in'), new_session_path, class: "button" %></li>
					<% end %>
		</ul>
	</nav>
</header>