<aside  class="sidebar">
			<nav>
				<ul>
					 <li class="events">
						<%= link_to  t('.upcoming'), events_path, class: 'button' %>
					</li>
					 <li class="events">
						<%= link_to t('.past'), filtered_events_path(:past), class: 'button' %>
					</li>
					 <li class="events">
						<%= link_to t('.free'), filtered_events_path(:free), class: 'button' %>
					</li>
					 <li class="events">
						<%= link_to t('.recent'), filtered_events_path(:recent), class: 'button' %>
					</li>
					<% if current_user_admin?%>	
						<li class="create-event">
							<%= link_to t('.add_new_event'), new_event_path, class: 'button' %>
						</li>
					<% end %>
			</ul>
		</nav>
		<%= content_for(:side) %>
</aside>