<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application' %>
  </head>

  <body>
		<%= render 'layouts/header' %>
		  <div class="wrapper">
				<% if flash[:notice] %>
					<p class="flash notice">
						<%= flash[:notice] %>
					</p>
				<% elsif flash[:alert] %>
					<p class="flash alert">
						<%= flash[:alert] %>
					</p>
				<% end %>
				<div class="container">
					<%= render 'layouts/sidebar' %>
					<section class="content">
						<%= yield %>
					</section>
					</div>
			</div>
		<%= render 'layouts/footer' %>
  </body>
</html>
